.about-me-container {
	margin: 0 auto;
	width: 80%;
	padding-top: 100px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.photo-container {
	width: 15rem;
	height: 15rem;
	border-radius: 200px;
	background-image: url("/img/pp.png");
	background-size: cover;
	background-position: -2px -20px;
}
