nav {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

nav img {
	width: 30%;
	cursor: pointer;
}

.nav-left-part {
	width: 50%;
	display: flex;
	align-items: center;
}

.nav-right-part {
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.moon-icon {
	cursor: pointer;
	width: 20px;
}

.burger-icon {
	cursor: pointer;
	width: 25px;
}

@media screen and (width > 500px) {
	.nav-right-part {
		width: 80px;
	}
}
